@{
    ViewData["Title"] = "Home Page";
}

<div class="container justify-content-center font-italic">
    <div class=" text-center p-4 p-md-5 mb-4 ">
        <div class="col px-0">
            <h1 class="display-4 fst-italic">Festival </h1>
            <p class="lead my-3">Ondek wat ons festival te bieden heeft en waarom jij zeker moet komen!</p>

        </div>
    </div>

    <div class="row text-center ml-4">
        <div class="col mt-2 text-center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/Festival1.jpg" class="card-img-top" alt="Festival 1 foto">

            </div>
        </div>
        <div class="col mt-2 text-center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/Festival2.jpg" class="card-img-top" alt="Festival 2 foto">

            </div>
        </div>
        <div class="col mt-2 text-center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/Festival3.jpg" class="card-img-top" alt="Festival 3 foto">

            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="text-center  font-italic">
                <p>
                    Lekker los gaan op goede muzek die gebracht wordt door live artiesten? <br />
                    Dan ben je bij ons aan het juiste adres! <br />
                    Wij organiseren het beste festival van de kempen! <br />
                    3 Dagen lang van 's smiddags tot 's avonds muziek <br />
                    Dit feestje wil je zeker niet missen! <br />


                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
</div>
